.showcase {
	margin: 0;
	padding: 0;
	background-color: $white; // supplement bg for .showcase__grid
}

@keyframes showcase__heading__line {
	from {
		width: 0%;
	} to {
		width: calc(100% + 100px);
	}
}

.showcase__blurb {
	margin: 50px 0 0;
	padding: 50px 5%;
	//background: url('../images/noisy_grid.png') repeat;
	background: linear-gradient(to bottom right, darken($yellow, 5%), darken($yellow, 5%) 50%, darken($yellow, 10%) 50%, darken($yellow, 10%));
	//background-color: $yellow;
}

.showcase__blurb__heading {
	margin: 0;
	padding: 0;
	@include font($fontAlt, normal, normal, 1.5rem);
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: $orange;
}

.showcase__blurb__content {
	margin: 50px auto 0;
	padding: 0;
	width: 960px;
	max-width: 100%;
	@include font($fontDefault, normal, normal, 1.25rem);
	line-height: 1.5;
	color: $brown;

	a {
		@extend %line-link-fx;
	}
}

#agree {
	margin: 0;
	padding: 20px 50px;
	display: inline-block;
	cursor: pointer;
	outline: none;
	background-color: $orange;
	border: none;
	border-bottom: darken($orange, 10%) 5px solid;
	@include font($fontAlt, normal, normal, inherit);
	color: $white;
	transition: all 300ms linear;

	> span[class^="fa"] {
		margin-right: 10px;
	}

	&:focus, &:active {
		background-color: darken($orange, 10%);
	}
}

.showcase__grid {
	margin: 0 auto;
	padding: 100px 5%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	text-align: center;
	font-size: 0; /* hack for display: inline-block */
}

.showcase__item {
	margin: 0 auto 40px; //20px; /* margin += 10px box-shadow per side */
	padding: 20px;
	width: 340px;
	max-width: 100%;
	//display: inline-block;
	border: $lightgray 1px solid;
	outline: $white 1px solid;
	font-size: 1rem;
	transition: all 300ms linear;

	&:hover, &:focus {
		border-color: $purple;
		outline: $purple 1px solid;
	}
}

.showcase__item__preview {
	margin: 0;
	padding: 0;
	display: block;
	width: 300px;
	max-width: 100%;
	height: auto;
}

.showcase__item__info {
	margin: 0;
	padding: 0;
}

.showcase__item__title {
	margin: 20px 0;
	padding: 0;
	display: block;
	@include font($fontAlt, normal, normal, 1.5rem);
	text-align: center;

	&:after {
		content: '';
		margin: 20px auto 0;
		padding: 0;
		display: block;
		width: 50%;
		height: 1px;
		background-color: $lightgray;
	}

	a {
		text-decoration: none;
		color: $purple;
	}
}

.showcase__item__description {
	margin: 20px 0;
	padding: 0;
	@include font($fontDefault, normal, normal, 1rem);
	text-align: center;
	line-height: 1.5;

	a {
		@extend %line-link-fx;
	}
}

.showcase__item__category {
	margin: 20px 0;
	padding: 0;
	@include font($fontDefault, normal, italic, 0.8rem);
	color: $lightgray;

	a {
		text-decoration: none;
		color: $purple;
	}
}

.showcase__item__category, .showcase__item__date {
	span[class*=fa] {
		padding-right: 5px;
	}
}

.showcase__item__date {
	margin: 0;
	padding: 0;
	@include font($fontDefault, normal, italic, 0.8rem);
	color: $lightgray;
}

.subcategory__list {
	margin: 0;
	padding: 100px 5%;
	list-style: none;
}

.subcategory {
	margin: 0 0 50px;
	padding: 25px 0;
	border-top: $purple 5px solid;

	a {
		margin: 0;
		padding: 0;
		display: block;
		text-decoration: none;
		color: inherit;

		&:after {
			@extend %clearfix;
		}
	}
}

.subcategory__name {
	margin: 0 0 20px; /* margin-bottom = padding-bottom *2 */
	padding: 10px;
	float: left;
	background-color: $purple;
	@include font($fontDefault, bold, normal, 2rem);
	color: $white;
	transition: all 300ms linear;
}

.subcategory:hover .subcategory__name {
	background-color: $orange;
}

.subcategory__description {
	margin: 0;
	padding: 0;
	float: right;
	@include font($fontAlt, normal, normal, 1.25rem);
	text-align: right;
	color: $brown;
}